# Node.js / npm
node_modules/
npm-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Rust / Cargo
target/
Cargo.lock

# Files generati da editor/IDE comuni
*.swp
*.swo
.idea/
.vscode/
*.log
*.bin
*.db

# Folders
storage/

# Operating system
.DS_Store
Thumbs.db
._.DS_Store
